<h1>Ergebnisse</h1>

#if ($games.size() > 0)
	#set ($baseLink = $roundUrl + "?id=")
	#set ($players = $lineUp.getPlayers())
	<table class="results">
		<tr class="bigborder">
			<td class="tablehead">Spieler</td>
			#set ($scores = [])
			#set ($lastPlayerIndex = $players.size() - 1)
			#foreach ($player in $players)
				<td class="tablehead"> $player.getName() </td>
				#set ($add = $scores.add(0)) #*//disable output true*#
			#end
		</tr>

		#set ($numberOfGames = $games.size())
		#foreach ($game in $games)
			<tr>
				#if ($game.getUniqueGameId() && $game.getUniqueGameId != "")
					<td><a href="$baseLink$game.getUniqueGameId()">$dateFormatter.format($game.getDate())</a></td>
				#else
					<td>$dateFormatter.format($game.getDate())</td>
				#end
				#foreach ($i in [0..$lastPlayerIndex])
					#set ($score = $game.getScores().get($i))
					#set ($scores[$i] = $scores[$i] + $score)
					<td>$score</td>
				#end
			</tr>
		#end

		<tr class="bigborder">
			<td>Gesamtpunktzahl</td>
			#foreach ($score in $scores)
				<td> $score </td>
			#end
		</tr>

		<tr class="bigborder">
			<td>Durchschnitt</td>
			#foreach ($score in $scores)
				#set ($average = $Double.parseDouble($score.toString()) / $numberOfGames)
				<td> $doubleFormatter.format($average) </td>
			#end
		</tr>
	</table>

	<div id="data" data-ticks="$ticks" data-alldata="$dataForAllSessions" data-perdata="$dataPerSession" style="hidden"></div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="session.js" integrity="sha384-iVc0ifcemSyvXTJbdODcLmDhLNU87TBbCw7lnkUxNbygtCG7L1y/7VLle8bBzKwJ" crossorigin="anonymous"></script>

	<table class="noborder">
		<tr class="noborder">
			<td class="jshost"><div id="alleAbende"></div></td>
		</tr>
		<tr class="noborder">
			<td class="jshost"><div id="proAbend"></div></td>
		</tr>
	</table>
#end

#if ($rules != "")
	<br />
	<h1>Regeln</h1>
	$rules
#end