<h1>Ergebnisse</h1>

#if ($games.size() > 0)
	#set ($baseLink = $roundUrl + "?id=")
	#set ($players = $lineUp.getPlayers())
	<table class="results">
		<tr class="bigborder">
			<td class="tablehead">Spieler</td>
			#set ($scores = [])
			#set ($lastPlayerIndex = $players.size() - 1)
			#set ($penalties = [])
			#foreach ($player in $players)
				<td class="tablehead"> $player.getName()</td>
				#set ($add = $scores.add(0)) #*//disable output true*#
				#set ($add = $penalties.add(0)) #*//disable output true*#
			#end
		</tr>

		#set ($numberOfGames = $games.size())
		#foreach ($game in $games)
			<tr>
				#if ($game.getUniqueGameId() && $game.getUniqueGameId != "")
					<td><a href="$baseLink$game.getUniqueGameId()">$dateFormatter.format($game.getDate())</a></td>
				#else
					<td>$dateFormatter.format($game.getDate())</td>
				#end
				#foreach ($i in [0..$lastPlayerIndex])
					#set ($score = $game.getScores().get($i))
					#set ($scores[$i] = $scores[$i] + $score)
					#if ($score >= 0)
						#set ($penalty = 0)
					#elseif ($score >= -14)
						#set ($penalty = 0.5)
					#elseif ($score >= -24)
						#set ($penalty = 1)
					#elseif ($score >= -34)
						#set ($penalty = 1.5)
					#else
						#set ($penalty = 2)
					#end
					#set ($penalties[$i] = $penalties[$i] + $penalty)
					#if ($score >= 0)
						<td class="good">$score</td>
					#elseif ($score >= -24)
						<td class="meh">$score</td>
					#else
						<td class="bad">$score</td>
					#end
				#end
			</tr>
		#end

		<tr class="bigborder">
			<td>Gesamtpunktzahl</td>
			#foreach ($score in $scores)
				<td> $score </td>
			#end
		</tr>

		<tr class="bigborder">
			<td>Durchschnitt</td>
			#foreach ($score in $scores)
				#set ($average = $Double.parseDouble($score.toString()) / $numberOfGames)
				<td> $doubleFormatter.format($average) </td>
			#end
		</tr>

		<tr class="bigborder">
			<td class=\"noborder\">Betrag</td>
			#foreach ($penalty in $penalties)
				<td> $doubleFormatter.format($penalty)&euro; </td>
			#end
		</tr>
	</table>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2() {
        var dataPerSession = google.visualization.arrayToDataTable( $dataPerSession );

        var optionsPerSession = {
          title: 'Ergebnisse des jeweiligen Abends',
          //curveType: 'function',
          legend: { position: 'bottom' },
		  pointSize: 7,
		  pointShape: 'square',
		  hAxis: {ticks: $ticks}
        };

        var chart = new google.visualization.LineChart(document.getElementById('proAbend'));

        chart.draw(dataPerSession, optionsPerSession);
      }
    </script>
    <script type="text/javascript">
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {
        var dataForAllSessions = google.visualization.arrayToDataTable( $dataForAllSessions );

        var optionsForAllSessions = {
          title: 'Ergebnisse aller Abende',
          //curveType: 'function',
          legend: { position: 'bottom' },
		  pointSize: 7,
		  pointShape: 'square',
		  hAxis: {ticks: $ticks}
        };

        var chartForAllSessions = new google.visualization.LineChart(document.getElementById('alleAbende'));

        chartForAllSessions.draw(dataForAllSessions, optionsForAllSessions);
      }
    </script>

	<table class="noborder">
		<tr class="noborder">
			<td class="jshost"><div id="alleAbende"></div></td>
		</tr>
		<tr class="noborder">
			<td class="jshost"><div id="proAbend"></div></td>
		</tr>
	</table>
#end

#if ($rules != "")
	<br />
	<h1>Regeln</h1>
	$rules
#end