<h1>$player.getName()</h1>

<div id="data" data-ticks="$ticks" data-playerrounddata="$dataForRounds" data-playerplacementdata="$dataForPlacements" data-playersigndata="$dataForSign" style="hidden"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="player.js" integrity="sha384-+CgDlLXtxxFywEj6zTPHXa5/C/5pxT/21UZH8mc0qyBOB6zYQnnlY37VcNDDanoq" crossorigin="anonymous"></script>

<table class="noborder">
	<tr class="noborder">
		<td class="jshost"><div id="runden"></div></td>
	</tr>
</table>

<table class="noborder">
	<tr class="noborder">
		<td class="jsplayer"><div id="placements" style="width: 700px; height: 400px;"></div></td>
		<td class="jsplayer"><div id="sign" style="width: 700px; height: 400px;"></div></td>
	</tr>
</table>

#if ($games.size() > 0)
	#set ($baseLink = $roundUrl + "?id=")
	<h2>Ergebnisse</h2>
	<table class="results">
		<tr class="bigborder">
			<td class="tablehead">Datum</td>
			<td class="tablehead">Ergebnis</td>
		</tr>

		#set ($numberOfGames = $games.size())
		#set ($total = 0)
		#foreach ($game in $games)
			<tr>
				#if ($game.getUniqueGameId() && $game.getUniqueGameId != "")
					<td><a href="$baseLink$game.getUniqueGameId()">$dateFormatter.format($game.getDate())</a></td>
				#else
					<td>$dateFormatter.format($game.getDate())</td>
				#end
				#set ($index = $game.getLineUp().getIds().indexOf($player.getId()))
				#set ($score = $game.getScores().get($index))
				#set ($total = $total + $score)
				<td>$score</td>
			</tr>
		#end

		<tr class="bigborder">
			<td>Gesamtpunktzahl</td>
			<td> $total </td>
		</tr>

		<tr class="bigborder">
			<td>Durchschnitt</td>
			#set ($average = $Double.parseDouble($total.toString()) / $numberOfGames)
			<td> $doubleFormatter.format($average) </td>
		</tr>
	</table>
#end